<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Platform Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>


<div class="container mt-5" id="appLogin">

    <div class="row">

        <!-- Blank -->
        <div class="col">
        </div>

        <!-- Login -->
        <div class="col">

            <h2>Log In </h2>

            <!-- Mobile -->
            <label for="mobile" class="form-label">帳號</label>
            <input v-model="mobile" placeholder="請輸入手機號碼" @keyup.enter="login" class="form-control"
                   :class="{ 'is-invalid': !isValidMobile }" id="mobile"/>

            <!-- Mobile Invalid -->
            <div v-if="!isValidMobile" class="invalid-feedback">手機號碼格式無效</div>


            <!-- Password -->
            <label for="password" class="form-label">密碼</label>
            <input v-model="password" type="password" placeholder="請輸入密碼" @keyup.enter="login" class="form-control mb-2"
                   :class="{ 'is-invalid': !isValidPassword }" id="password"/>

            <!-- Password Invalid -->
            <div v-if="!isValidPassword" class="invalid-feedback">密碼長度6-20，須包含1個數字，一個大寫字母以及一個小寫字母
            </div>

            <!-- Direct to register.html-->
            <p>若您沒有帳號，請點<a href="/registration.html">註冊</a>前往創立帳號</p>


            <!-- Log in -->
            <button @click="login"
                    type="submit" class="btn btn-primary"> 登入 </button>

        </div>

        <!-- Blank -->
        <div class="col">
        </div>

    </div>

</div>

<!-- -------------------------------------------------- Lib ------------------------------------------------- -->


<!-- sweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>


<!-- --------------------------------------------- Java Script ------------------------------------------------- -->
<script>
    new Vue({
        el: '#appLogin',
        data: {
            mobile: '',
            password: ''
        },
        methods: {

            // Member login, verification and redirect to article.html
            login() {

                // mobile : fit 09xxxxxxxx
                const mobileRegex = /^09\d{8}$|^09\d{9}$/;

                // Password: length 6-20, included 1 number, 1 character in lower case, 1 character in upper case,
                const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;

                // If Input verified
                if (mobileRegex.test(this.mobile) && passwordRegex.test(this.password)) {

                    // Pack Data
                    let user = {
                        mobile: this.mobile,
                        password: this.password,
                    };

                    // Sent Request
                    axios.post('/login', user).then(response =>
                    {
                        if (response.data) {
                            // Log in success, put userId in session storage
                            sessionStorage.setItem('userId', JSON.stringify(response.data));

                            // Clear the inputs
                            this.mobile = '';
                            this.password = '';

                            // Alert success
                            Swal.fire({
                                title: '登入成功！',
                                icon: 'success',
                                timer: 1000,
                                showConfirmButton: false

                            }).then((result) => {
                                // After Alert, redirect
                                if (result.dismiss === Swal.DismissReason.timer) {
                                    // Redirect to article.html
                                    window.location.href = '/article.html';

                                }
                            });

                        } else {
                            // Alert Login failed
                            Swal.fire({
                                position: 'top',
                                title: '帳密錯誤，登入失敗',
                                timer: 1500,
                                showConfirmButton: false,
                                background: 'rgba(255, 255, 255, .7)'
                            });

                        }
                    });
                }
            }


        },

        computed: {
            // Verify mobile number
            isValidMobile() {
                const mobileRegex = /^09\d{8}$|^09\d{9}$/;
                return this.mobile && mobileRegex.test(this.mobile);
            },

            // Verify password
            isValidPassword() {
                const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
                return this.password && passwordRegex.test(this.password);
            }
        }
    });

</script>
</body>
</html>
